<template id="tpl-table-shell">
  <div class="table-shell">
    <table class="table-shell-table">
      <caption class="table-shell-caption" data-slot="caption" hidden></caption>
      <thead class="table-shell-head" data-slot="head">
        <tr data-slot="head-row"></tr>
      </thead>
      <tbody class="table-shell-body" data-slot="body"></tbody>
    </table>
  </div>
</template>

<template id="tpl-table-shell-th">
  <th class="table-shell-th" scope="col"></th>
</template>

<template id="tpl-table-shell-tr">
  <tr class="table-shell-tr"></tr>
</template>

<template id="tpl-table-shell-td">
  <td class="table-shell-td"></td>
</template>
